{% extends "base.html" %}
{% block title %}Delete Post{% endblock title %}

{% block content %}
<main>
    <div class="container">
        <div class="page-name">
            <a href="{% url 'post_page' post.slug %}" class="learn">
                <span class="material-icons">keyboard_return</span> Go back
            </a>
            <h2>Delete Post</h2>
        </div>

        <div class="cardx">
            <div class="card-body">
                <p class="confirmation-message"><b>Are you sure you want to delete the post?</b></p>
                <form method="post">
                    {% csrf_token %}
                    <div class="update">
                        <div class="update-container">
                            <button type="submit" class="btn btn-primary">Yes, delete</button>
                            <a href="{% url 'post_page' post.slug %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
